[submodule "Dependencies/imgui"]
	path = Dependencies/imgui
	url = https://github.com/ocornut/imgui.git
	branch = docking
[submodule "Dependencies/implot"]
	path = Dependencies/implot
	url = https://github.com/epezent/implot.git
[submodule "Dependencies/glfw"]
	path = Dependencies/glfw
	url = https://github.com/glfw/glfw.git
